<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>eBoy!: Fictional online digital store</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="logo-box">
          <a href="index.html" class="header-link logo-link">eBoy!</a>
        </div>
        <div class="nav-link">
          <a href="cart.html" class="header-link cart-link">Cart</a>
          <a href="signin.html" class="header-link signin-link">Sign In</a>
        </div>
      </header>
      <main>
        <div class="row center">
          <div class="product-card">
            <a href="product.html">
              <img
                src="./image/amazon-echo-1.jpg"
                alt="Amazon echo"
                class="product-img"
              />
            </a>

            <div class="product-card-body">
              <a href="product.html" class="product-link">
                <h3 class="product-card-title">amazon echo</h3>
              </a>

              <div class="product-rating">
                <span class="material-icons">star_rate</span>
                <span class="material-icons">star_rate</span>
                <span class="material-icons">star_rate</span>
                <span class="material-icons">star_rate</span>
                <span class="material-icons">star_rate</span>
              </div>

              <div class="product-price">$80.00</div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">
        All Rights reserved &copy; Bolaji Ayeni
      </footer>
    </div>
  </body>
</html>
