*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 16px * 62.5% = 10 px = 1rem */
}

body {
  font-size: 1.6rem;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

/* Layout */
