:root {
  --color-primary-1: #efefef; /* for header, body, footer nav etc */
  --color-primary-2: #caebf2; /* for border and outline and selection */
  --color-primary-3: #a9a9a9; /* for text in color primary 1 */
  --color-primary-4: #355c7d; /* for bolder text */
  --color-active-1: #ff3b3f; /* color for hovered text items in the header */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 16px * 62.5% = 10 px = 1rem */
  height: 100%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-primary-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 6rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--color-primary-1);
  margin-bottom: 1rem;
}

main {
  grid-area: main;
  background-color: var(--color-primary-1);
}

footer {
  grid-area: footer;
  background-color: var(--color-primary-1);
  color: var(--color-primary-3);
}

/* Common components */

a,
a:link,
a:visited {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.center {
  justify-content: center;
}

.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.col-1 {
  flex: 1 1 30rem;
}

.loader7 {
  position: relative;
  width: 40px;
  height: 40px;

  top: 40%;
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
  left: 43%;
  left: -webkit-calc(50% - 20px);
  left: calc(50% - 20px);

  background-color: rgba(255, 255, 255, 0.2);
}

.loader7:before {
  content: "";
  position: absolute;
  background-color: var(--color-active-1);
  height: 10px;
  width: 10px;
  border-radius: 10px;
  -webkit-animation: loader7 2s ease-in-out infinite;
  animation: loader7 2s ease-in-out infinite;
}

.loader7:after {
  content: "";
  position: absolute;
  background-color: var(--color-active-1);
  top: 0px;
  left: 0px;
  height: 40px;
  width: 0px;
  z-index: 0;
  opacity: 1;
  -webkit-animation: loader72 10s ease-in-out infinite;
  animation: loader72 10s ease-in-out infinite;
}

@-webkit-keyframes loader7 {
  0% {
    left: -12px;
    top: -12px;
  }
  25% {
    left: 42px;
    top: -12px;
  }
  50% {
    left: 42px;
    top: 42px;
  }
  75% {
    left: -12px;
    top: 42px;
  }
  100% {
    left: -12px;
    top: -12px;
  }
}

@keyframes loader7 {
  0% {
    left: -12px;
    top: -12px;
  }
  25% {
    left: 42px;
    top: -12px;
  }
  50% {
    left: 42px;
    top: 42px;
  }
  75% {
    left: -12px;
    top: 42px;
  }
  100% {
    left: -12px;
    top: -12px;
  }
}

@-webkit-keyframes loader72 {
  0% {
    width: 0px;
  }
  70% {
    width: 40px;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 40px;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

@keyframes loader72 {
  0% {
    width: 0px;
  }
  70% {
    width: 40px;
    opacity: 1;
  }
  90% {
    opacity: 0;
    width: 40px;
  }
  100% {
    opacity: 0;
    width: 0px;
  }
}

.alert {
  padding: 1rem;
  border: 0.3rem dashed transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: var(--color-primary-4);
  background-color: var(--color-primary-1);
}

.alert-danger {
  color: var(--color-active-1);
  background-color: var(--color-primary-1);
}

.available {
  color: var(--color-primary-4);
}

.unavailable {
  color: var(--color-active-1);
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  background-color: var(--color-primary-1);
  background-image: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--color-primary-4);
}

/* Header */

.header-link {
  padding: 1.5rem;
  transition: all 0.2s;
}

.header-link:link,
.header-link:visited {
  color: var(--color-primary-3);
}

.header-link:hover,
.header-link:active {
  color: var(--color-active-1);
}

.logo-link {
  font-family: "Righteous", cursive;
  font-size: 3rem;
}

/* Product card */

.product-card {
  border: 0.3rem dashed var(--color-primary-2);
  border-radius: 0.5rem;
  padding: 0.4rem;
  transition: all 0.2s;
  margin: 1rem;
  max-width: 32rem;
  max-height: 59rem;
}

.product-card:hover {
  border: 0.3rem solid var(--color-active-1);
}

.product-card-body {
  padding: 1rem;
}

.product-card-body > * {
  margin-bottom: 0.3rem;
}

.product-img {
  max-width: 30rem;
  max-height: 46rem;
  width: 100%;
  min-height: 37.5rem;
}

.product-card-title {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

.product-link:link,
.product-link:visited {
  color: var(--color-primary-3);
  transition: all 0.2s;
}

.product-link:hover,
.product-link:active {
  color: var(--color-active-1);
}

.product-rating {
  color: var(--color-active-1);
}

.product-rating > * {
  margin: 0.1rem;
}

.product-price {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: var(--color-primary-4);
  font-size: 2rem;
}

.product-num-reviews {
  color: var(--color-primary-4);
}

/* product page */

.product-page-img {
  max-width: 100%;
  border: 0.3rem dashed var(--color-primary-2);
  border-radius: 0.5rem;
  padding: 1rem;
  transition: all 0.2s;
}

.product-page-img:hover {
  border: 0.3rem dashed var(--color-active-1);
}

.product-page-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80rem;
  padding: 2.5rem;
  border-right: 0.3rem dashed var(--color-primary-4);
}

.product-back-route {
  font-weight: 300;
  text-transform: capitalize;
}

.product-back-route:hover {
  color: var(--color-active-1);
}

.product-page-title {
  font-size: 10rem;
  font-family: "Righteous", cursive;
  margin-top: 45%;
  transition: all 0.2s;
}

.product-page-title:hover {
  color: var(--color-active-1);
}

.product-page-price {
  font-family: "Lato", sans-serif;
  margin-top: 2rem;
  font-size: 7rem;
  font-weight: 300;
  transition: all 0.2s;
}

.product-page-price:hover {
  color: var(--color-primary-2);
}

.product-page-description {
  margin-top: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.product-page-status {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  text-transform: capitalize;
}

.product-page-status div {
  margin-right: 1rem;
}

.product-cta-block {
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-buy-btn {
  align-self: center;
  font-size: inherit;
  padding: 2rem 4rem;
  background-color: transparent;
  border-radius: 3rem;
  border: 0.3rem dashed var(--color-primary-4);
  color: var(--color-primary-4);
  transition: all 0.2s;
  font-weight: bold;
  margin-bottom: 4rem;
}

.product-buy-btn:hover {
  border: 0.3rem dashed var(--color-active-1);
  color: var(--color-active-1);
  cursor: pointer;
}

.cta {
  width: 80%;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.cta .material-icons {
  font-size: 7rem;
}

.cta .product-num-reviews {
  margin-top: 2rem;
  font-size: 5rem;
}

.cta .product-rating {
  margin-bottom: 4rem;
}

.product-page-select {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.product-qty-label {
  margin-right: 20rem;
  font-size: 2rem;
}

.product-qty-selector-box {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.3rem dashed var(--color-primary-4);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.product-qty-selector-box:hover {
  border: 0.3rem dashed var(--color-active-1);
}

/* test classes */

.red {
  background-color: red;
}

.f-flex {
  display: flex;
  height: 100%;
  justify-content: center;
  color: var(--color-primary-4);
}
